<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!-- Composant serveur -->
    <extension point="com.ibm.team.repository.common.components">
        <component id="fr.syncheo.ewm.childitem"
                   name="Child Workitem Component">
            <!-- Service REST modélisé -->
            <service kind="MODELLED_REST"
                     name="Service REST de récupération des états"
                     uri="fr.syncheo.ewm.childitem.server.IGetStatesService"
                     version="1"/>
                     
             <service kind="MODELLED_REST"
                     name="Nouveau Service d'Outil REST"
                     uri="fr.syncheo.ewm.childitem.server.INewUtilityService" 
                     version="1"/>
        </component>
    </extension>

    <!-- Fournisseur d’implémentation côté serveur -->
    <extension point="com.ibm.team.repository.service.serviceProvider">
        <serviceProvider componentId="fr.syncheo.ewm.childitem"
                         implementationClass="fr.syncheo.ewm.childitem.server.GetStatesService">
            <provides>
                <providedService interface="fr.syncheo.ewm.childitem.server.IGetStatesService"/>
            </provides>
            <prerequisites>
            	<requiredService interface="com.ibm.team.repository.service.IRepositoryItemService"/>
            	<requiredService interface="com.ibm.team.workitem.service.IWorkItemServer" />
            </prerequisites>    
        </serviceProvider>
    </extension>

    <extension point="com.ibm.team.repository.service.serviceProvider">
        <serviceProvider componentId="fr.syncheo.ewm.childitem"
                         implementationClass="fr.syncheo.ewm.childitem.server.NewUtilityService">
            <provides>
                <providedService interface="fr.syncheo.ewm.childitem.server.INewUtilityService"/>
            </provides>
            <prerequisites>
            	<requiredService interface="com.ibm.team.repository.service.IRepositoryItemService"/>
            	<requiredService interface="com.ibm.team.workitem.service.IWorkItemServer" />
            </prerequisites>    
        </serviceProvider>
    </extension>

    <!-- Mode d’application et délégation d’authentification -->
    <extension point="com.ibm.team.jfs.app.appMode">
        <appMode delegatingAuthentication="true" transitioningToJAF="false"/>
    </extension>

    <!-- Déclaration produit et compatibilité JTS -->
	<extension point="com.ibm.team.jazz.foundation.server.products">
        <product id="fr.syncheo.ewm.childitem"
                 name="Child Workitem Table"
                 requiredJtsVersions="[7.0.2,7.2.0)" 
                 type="APPLICATION"
                 version="1.0.0.0"/>
    </extension>

    <!-- Extension UI pour le widget dans EWM -->
    <extension point="net.jazz.ajax.webBundles">
        <alias value="fr.syncheo.ewm.childitem.presentation"/>
    </extension>

    <extension point="net.jazz.ajax.cssBindingSets">
        <cssBindingSet id="fr.syncheo.ewm.childitem.presentation.ui.CSSBindingSet"
                       path="/ui/templates">
            <cssBinding jsModule="fr.syncheo.ewm.childitem.presentation.ui.Presentation">
                <cssModule path="/Presentation.css"/>
            </cssBinding>
        </cssBindingSet>
    </extension>

   <extension
         id="fr.syncheo.ewm.childitem"
         name="Child Workitem HTML Table"
         point="com.ibm.team.workitem.service.editorPresentations">
      <editorPresentation
            id="Child Workitem Table"
            needsAttribute="false"
            widget="fr.syncheo.ewm.childitem.presentation.ui.Presentation">
      </editorPresentation>
   </extension>

</plugin>
